.movies-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 43px 30px;
  justify-items: center;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 320px) {
    grid-template-columns: 1fr;
    gap: 36px;
  }
}
