:root {
  --bg-primary: #202020;
  --bg-secondary: #272727;

  --bg-button-gray: #313131;
  --bg-button-crimson: #ee3465;
  --bg-button-blue: #4285f4;
  --bg-time-plate: #2f2f2f;
  --bg-checkbox-unchecked: #ebebeb;
  --bg-submit-disabled: #f8f8f8;

  --color-primary: #ffffff;
  --color-checkbox-unchecked: #f5f5f5;
  --color-portfolio-separator: #e6e6e6;
  --color-submit-disabled: #c2c2c2;
  --color-secondary: #8b8b8b;
  --color-separator: #424242;
  --color-lightgray: #303030;
  --color-dark: #000000;
  --color-green: #3ddc84;
}
