:root {
  --bg-primary: #202020;
  --bg-secondary: #272727;
  --time-plate: #2f2f2f;

  --bg-button-gray: #313131;
  --bg-button-crimson: #ee3465;
  --bg-button-blue: #4285f4;

  --color-primary: #ffffff;
  --color-secondary: #8b8b8b;
  --color-dark: #000000;
  --color-green: #3ddc84;
  --color-lightgray: #303030;
}
