.button-password {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  border: 0;
}

.button-password_showed {
  background-image: url('../../images/icons/icon-eye.svg');
}

.button-password_hidden {
  background-image: url('../../images/icons/icon-eye-slash.svg');
}
