.navigation__movies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.navigation__navlink {
  border: 0;
  padding: 0;
  background: none;
  color: var(--color-white);
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

.navigation__navlink_active {
  font-weight: bold;
}

.navigation__user-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.navigation__auth-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
