.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 705px;
}

.navigation__navlink {
  border: 0;
  padding: 0;
  background: none;
  color: var(--color-white);
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}

.navigation__navlink_active {
  font-weight: bold;
}
