.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 705px;
}

.navigation__auth {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.navigation__films {
  display: flex;
  gap: 16px;
  margin-right: auto;
}
