.about-project {
  padding-top: 110px;
  padding-bottom: 95px;

  @media screen and (max-width: 768px) {
    padding-top: 90px;
    padding-bottom: 75px;
  }
}

.about-project__content {
  display: flex;
  gap: 50px;
  margin-top: 74px;

  @media screen and (max-width: 768px) {
    gap: 35px;
    margin-top: 70px;
  }
}

.about-project__column {
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media screen and (max-width: 768px) {
    gap: 22px;
  }
}

.about-project__title {
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__text {
  font-size: 14px;
  line-height: 20px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.about-project__statistics {
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 36px 46px;
  align-items: center;
  margin-top: 110px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: var(--color-secondary);

  @media screen and (max-width: 768px) {
    margin-top: 93px;
    grid-template-columns: 140px 1fr;
  }
}

.about-project__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-project__cell_green {
  color: var(--color-dark);
  background: var(--color-green);
}

.about-project__cell_gray {
  color: var(--color-primary);
  background: var(--color-lightgray);
}
