.techs {
  display: flex;
  flex-direction: column;
  min-height: 625px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bg-secondary);
}

.techs__title {
  font-size: 50px;
  letter-spacing: -2px;
  margin-top: 90px;
  text-align: center;
}

.techs__subtitle {
  width: 460px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 26px auto 90px;
  text-align: center;
}

.techs__list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
