@import url('../src/variables/variables.css');
@import url('../src/variables/fonts.css');

body {
  background-color: var(--bg-primary);
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
}
