@import url('../src/vendor/normalize.css');
@import url('../src/variables/variables.css');
@import url('../src/variables/fonts.css');

body {
  background-color: var(--bg-primary);
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
a,
p,
div,
span,
ul,
li,
menu {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

*:focus-visible {
  outline: 0;
}
