.about-me {
  padding-top: 110px;
  padding-bottom: 125px;

  @media screen and (max-width: 768px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.about-me__info {
  margin-top: 66px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;

  grid-template-areas:
    'name avatar'
    'job-age avatar'
    'description avatar'
    'github-link avatar';

  @media screen and (max-width: 768px) {
    margin-top: 64px;
    column-gap: 50px;
    row-gap: 12px;
    grid-template-rows: 46px 22px auto 14px;
  }
}

.about-me__name {
  grid-area: name;
  font-size: 50px;
  letter-spacing: -2px;
  margin-bottom: 18px;
  height: fit-content;

  @media screen and (max-width: 768px) {
    font-size: 40px;
    margin-bottom: 0;
  }
}

.about-me__job-age {
  grid-area: job-age;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  height: fit-content;
  margin-bottom: 26px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 18px;
  }
}

.about-me__description {
  grid-area: description;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  line-height: 22px;
  height: fit-content;
  margin-bottom: 99px;
  max-width: 600px;

  @media screen and (max-width: 768px) {
    padding-top: 4px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
  }
}

.about-me__github-link {
  color: var(--color-primary);
  text-decoration: none;
  grid-area: github-link;
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
  justify-content: end;

  &:hover {
    opacity: 0.7;
  }
}

.about-me__avatar {
  grid-area: avatar;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: auto;

  @media screen and (max-width: 768px) {
    width: 255px;
    height: 307px;
  }
}

.about-me__portfolio {
  color: var(--color-secondary);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    margin-top: 93px;
  }
}

.about-me__link {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

.about-me__link:after {
  content: url('../../images/icons/link-arrow.svg');
  font-size: 30px;
  padding-right: 5px;
}

.about-me__separator {
  height: 1px;
  background-color: var(--color-separator);
  margin-top: 19px;
  margin-bottom: 20px;
}
