.nav-tab {
}

.nav-tab__list {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 320px) {
    gap: 6px;
  }
}

.nav-tab__link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 36px;
  width: 96px;
  background: var(--color-lightgray);
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-primary);
  text-decoration: none;

  @media screen and (max-width: 540px) {
    font-size: 10px;
    height: 26px;
    width: 82px;
    border-radius: 6px;
  }
}

.nav-tab__link:hover {
  opacity: 0.8;
}
